# Rename this file to .env and keep it out of version control (already in .gitignore for Vite by default)
VITE_SUPABASE_URL=https://dsjmdexufdbtdmacidrm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRzam1kZXh1ZmRidGRtYWNpZHJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ0NzAwNTcsImV4cCI6MjEwMDA0NjA1N30.75XZxVwXgdhXH9-rj8uOTxzt0wOMjZ5DApIvVITC74A
